{{>header}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            <h3>This site uses data from mapbox.com and darksky.net</h3>
        </div>
    </div>
</div>
{{>footer}}